.booking{
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229,231, 235);
    position: sticky;
    top: 80px;
}


.booking_top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.booking_top h3{
    font-size: 2rem;
    font-weight: 700;

}

.booking_top h3 span{
    font-size: 1.1rem;
    font-weight: 400;
    color:#978f74;
}
.booking_topm span{
    font-size: 1.1rem;
    font-weight: 600;
    color: #978f74;
}
.booking_top span i {
    color: #e7c251;
}
.booking_top{
    padding-bottom: 2rem;
    border-bottom: 1px solid  rgb(229,231, 235);
}






.tour_rating{
    display: flex;
    align-items: center;

}

.group_Form_3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.booking_form{
    padding-top: 2rem;

}
.booking_form h5{
    margin-bottom: 1rem;

}
.booking_form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: .5rem;
    font-size: 1rem;
    color:#978f74;
    border: none;
    border-bottom: 1px solid  rgb(229,231, 235) ;
   
}

.booking_form input:focus{
    outline: none;
}

.booking-info-form{
    padding: 1rem;
    border: 1px solid rgb(229,231, 235) ;
}

.List_price{
    display: flex;
    align-items: center;
    gap: 1;
}

.booking_bottom li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking_bottom li h5, .booking_bottom li span {
    font-size: 1rem;
    color: #978f74;
    font-weight: 500;
}

.booking_bottom{
    margin-top: 1rem;
}
.total h5, .total span{
    color: black !important;
    font-size: 1.1rem !important;
    font-weight: 700 !important;

}
