.formData {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.form_group {
    display: flex;

    gap: 10px;
}

.search_bar {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 100%;
    margin-top: 20px;
}

/* @media (min-width: 576px) {
    .search_bar {
        width: max-content;
    }
} */

.form_group span {
    font-size: 1.8rem;
    color: #ee6e6e;
}

.form_group input {
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%; /* Make the input width 100% to fill the container */
}

.form_group input:focus {
    outline: none;
}

.form_group h6 {
    margin-bottom: 0;
}

.form_group-fast {
    border-right: 2px solid #ddd;
}

.search_icon i {
    font-size: 1.6rem;
    background-color: #e7c251;
    padding: 0.5rem;
    color: white;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}
