.card_top{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.tour_location, .tour_rating{
    display: flex;
    align-items: center;
    gap: 10px;

}

.card_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;

}
.tour_img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.tour_img{
    position:relative;
}
.tour_img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background-color: #e7c251;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}
.card_top span i {
    color: #e7c251;
}

.tour_rating{
    font-size: .9rem;

}
.tour_location{
    font-weight:500 ;
    font-size: 0.9rem;
}
.tour_rating i,.tour_location i{
    font-size: 1rem;
    cursor: pointer;
    
}

.tour_title a{
    text-decoration: none;
    transition: 0.3s;
    

}
.tour_title a:hover{
    color: #e7c251;
}
.card_bottom h5{
    color: #e7c251;
    font-size: 1.1rem;
}
.card_bottom h5 span{
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
}


   
.booking_btn a{
    color: black;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    
}
.booking_btn a:hover {
    font-size: .9rem;
    color: #e7c251;
   
}



